<!--Code footer-->
{% block footer %}
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-sm-12">
					Copyright 2020
				</div>
				<div class="col-lg-6 col-sm-12">
					Lafarge Holcim
				</div>
			</div>
		</div>
	</footer>
{% endblock %}
<!-- fin Code footer-->
